.app {
  display: flex;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
  z-index: 1;
}

.main {
  flex: 1;
  overflow: hidden;
  position: relative;
  background: var(--bg-base);
}

.tabWrapper {
  position: absolute;
  inset: 0;
  padding: 2.25rem 2.5rem;
  overflow-y: auto;
}
